



     
      
       <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=1e75550e4e3b8d473250244161bfd5102a88ea0f'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(44.6042121,-79.4554771),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(44.6042121,-79.4554771)});infowindow = new google.maps.InfoWindow({content:'<strong>P&P Infotech</strong><br>10 Vanessa Dr<br>L3V 7Y8 Orillia<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
     
<!-- Footer Section -->

  <footer id="colophon" class="footer site-footer" role="contentinfo">

    <div class="footer-social text-center">
      <div class="social-contact">
        <div class="col-xs-4">
          <div class="social-item wow animated fadeInRight" data-wow-delay=".75s">
            <div class="section-padding">
              <div class="social-icon">
                <i class="fa fa-facebook"></i>
              </div><!-- /.social-icon -->
              <div class="countdown">
                <span class="count-number counter">1,203</span>
              </div><!-- /.coundown -->
              <span class="about-item">likes</span>
            </div><!-- /.section-padding -->
          </div><!-- /.social-item -->
        </div>

        <div class="col-xs-4">
          <div class="social-item wow animated fadeInRight" data-wow-delay=".55s">
            <div class="section-padding">
              <div class="social-icon">
                <i class="fa fa-twitter"></i>
              </div><!-- /.social-icon -->
              <div class="countdown">
                <span class="count-number counter">2,305</span>
              </div><!-- /.coundown -->
              <span class="about-item">followers</span>
            </div><!-- /.section-padding -->
          </div><!-- /.social-item -->
        </div>

        <div class="col-xs-4">
          <div class="social-item wow animated fadeInRight" data-wow-delay=".35s">
            <div class="section-padding">
              <div class="social-icon">
                <i class="fa fa-dribbble"></i>
              </div><!-- /.social-icon -->
              <div class="countdown">
                <span class="count-number counter">1,101</span>
              </div><!-- /.coundown -->
              <span class="about-item">fans</span>
            </div><!-- /.section-padding -->
          </div><!-- /.social-item -->
        </div>
      </div><!-- /.social-contact -->
    </div><!-- /.footer-social -->


    <div class="footer-top">
      <div class="section-padding">
        <div class="container">
          <div class="row">

            <div class="col-sm-2">
              <div class="widget widget_menu">
                <h3 class="widget-title">Navigate</h3><!-- /.widget-title -->
                <div class="widget-details">
                  <nav>
                    <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Our Blog</a></li>
                      <li><a href="#">The Team</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </nav>
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-sm-3">
              <div class="widget widget_latest-blog-post">
                <h3 class="widget-title">Recent Blog Posts</h3><!-- /.widget-title -->
                <div class="widget-details">
                  <div class="title-list">
                    <ul>
                      <li><a href="#" class="entry-title">TopClass WordPress Theme</a></li>
                      <li><a href="#" class="entry-title">Foody HTML5 Template</a></li>
                      <li><a href="#" class="entry-title">Memorials HTML5 Template</a></li>
                      <li><a href="#" class="entry-title">Mama HTML5 Template</a></li>
                      <li><a href="#" class="entry-title">Open HTML5 Template</a></li>
                    </ul>
                  </div><!-- /.title-list -->
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-sm-4">
              <div class="widget widget_photo_stream">
                <h3 class="widget-title">Photo Stream</h3><!-- /.widget-title -->
                <div class="widget-details">
                  <div class="photo-list">
                    <ul>
                      <li><a href="#"><img src="images/footer/1.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/2.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/3.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/4.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/5.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/6.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/7.jpg" alt="Stream Photo"></a></li>
                      <li><a href="#"><img src="images/footer/8.jpg" alt="Stream Photo"></a></li>
                    </ul>
                  </div><!-- /.photo-list -->
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-sm-3">
              <div class="widget widget_subscribe">
                <h3 class="widget-title">Tag Clouds</h3><!-- /.widget-title -->
                <div class="widget-details">
                  <ul class="taglist">
                    <li><a href="#">wordpress</a></li>
                    <li><a href="#">joomla</a></li>
                    <li><a href="#">css3</a></li>
                    <li><a href="#">UI/UX</a></li>
                    <li><a href="#">drupal</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">PHP</a></li>
                  </ul>
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
              <div class="widget widget_subscribe">
                <h3 class="widget-title">Subscribe Us</h3>
                <div class="widget-details">
                  <form class="subscribe" method="post">
                    <p class="alert-success"></p>
                    <p class="alert-warning"></p>

                    <div class="subscribe-hide">
                      <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" required>
                      <button  type="submit" id="subscribe-submit" class="btn"><i class="fa fa-envelope"></i></button>
                      <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                      <div class="subscribe-error"></div>
                    </div><!-- /.subscribe-hide -->
                    <div class="subscribe-message"></div>
                  </form><!-- /.subscribe -->
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section-padding -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
      <div class="container">
        <div class="footer-menu pull-left">
          <div class="widget widget_menu">
            <nav class="widget-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div><!-- /.widget -->
        </div><!-- /.footer-menu -->

        <div class="copy-right pull-right"></div>

      </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
  </footer><!-- /#colophon -->

  <!-- Footer Section -->



  <div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
  </div><!-- /#scroll-to-top -->




  <!-- Include jQuery Js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include jQuery Js -->
  <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')</script>
  <!-- Include WOW Min Js -->
  <script src="Scripts/lib/js/wow.min.js"></script>
  
  <!-- Include Waypoint Js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <!-- Include Ajax MailChimp Js -->
  <script src="Scripts/lib/js/jquery.ajaxchimp.min.js"></script>
    <!-- Include Custom Js </-->
  <script src="Scripts/lib/js/custom.min.js"></script>





  <script>

    $(".bxslider").bxSlider({auto:!0,preloadImages:"all",mode:"horizontal",captions:!1,controls:!0,pause:4000,speed:1200,onSliderLoad:function(){$(".bxslider>li .slide-inner").eq(1).addClass("active-slide"),$(".slide-inner.active-slide .slider-title").addClass("wow animated bounceInDown"),$(".slide-inner.active-slide .slide-description").addClass("wow animated bounceInRight"),$(".slide-inner.active-slide .btn").addClass("wow animated zoomInUp")},onSlideAfter:function(e,i,n){console.log(n),$(".active-slide").removeClass("active-slide"),$(".bxslider>li .slide-inner").eq(n+1).addClass("active-slide"),$(".slide-inner.active-slide").addClass("wow animated bounceInRight")},onSlideBefore:function(){$(".slide-inner.active-slide").removeClass("wow animated bounceInRight"),$(".one.slide-inner.active-slide").removeAttr("style")}}),$(document).ready(function(){function e(){return"ontouchstart"in document.documentElement}function i(){if("undefined"!=typeof google){var i={center:[-37.817331,144.955652],zoom:15,mapTypeControl:!0,mapTypeControlOptions:{style:google.maps.MapTypeControlStyle.DROPDOWN_MENU},navigationControl:!0,scrollwheel:!1,streetViewControl:!0};e()&&(i.draggable=!1),$("#googleMaps").gmap3({map:{options:i},marker:{latLng:[23.709921,90.407143],options:{icon:"images/mapicon.png"}}})}}$("#masthead #main-menu").onePageNav(),i()}),$("#contactform").on("submit",function(e){e.preventDefault(),$this=$(this),$.ajax({type:"POST",url:$this.attr("action"),data:$this.serialize(),success:function(){alert("Message Sent Successfully")}})});

  </script>
</body>
</html>
