<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->
<html class="no-js" lang=""> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Polmo - One Page HTML5 Template By Jewel Theme</title>
  <meta name="description" content="Polmo - One Page HTML5 Template By Jewel Theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Include Bootstrap Css -->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <!-- Include Bootstrap Min Css -->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Include Animate Min Css -->
  <link rel="stylesheet" href="/Content/fpcss/animate.min.css">
  <!-- Include Fontawesome Min Css -->
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
  <!-- Include Magnific PopUp Css -->
  <link rel="stylesheet" href="/Content/fpcss/magnific-popup.css">
  <!-- bxSlider CSS file -->
  <link href="/Content/fpcss/jquery.bxslider.css" rel="stylesheet" />
  <!-- Include Style Css -->
  <link rel="stylesheet" href="/Content/fpcss/style.css">
  <!-- Include Responsive Css -->
  <link rel="stylesheet" href="/Content/fpcss/responsive.min.css">
  <!-- Include Modernizer Js -->
  <script src="Scripts/lib/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  
   <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>

  
</head>
<body>

  
