<% include partials/header1.ejs %>
    <% include partials/navbar1.ejs %>
   
  

<section id="main-slider" class="main-slider text-center">
    <div class="head-overlay">
         
      <ul class="bxslider">
        <li>
          <div class="head-overlay">
            <img src="images/slider/2.jpg"/>
          </div><!-- /.head-overlay -->
          <div class="slider-font">
     <div class="form-area text-center wow animated fadeInRight" style="margin-top:13%;left:10%;width:100%;" data-wow-delay=".75s">
  
   <div style='height:417px;width:512px;margin-top:20%;'>
       <div id='gmap_canvas' >
           <img src="images/map.png" />
       </div>
       
       </div>
       

  
     </div> 
               
                   <div class="form-area text-center wow animated fadeInRight" style="margin-top:13%;right:10%;width:100%;" data-wow-delay=".75s">
     <h2 class="section-title"><span>Contact </span> With Us</h2><!-- /.section-title -->


           <form method="post" id="contactform" class="contactform">
        <% if (messages) { %>
                <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= messages %></div>
            <% } %>
      
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name:" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="yourname@youremail.com" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your contact number" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control"  id="message" name="message" rows="5" placeholder="Enter Your Message Here..." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </form><!-- /#contactform -->
        </li>
      </ul>
      </div>
</section>

        

   
   
     
        <% include partials/footer1.ejs %>